@model DonationWebApp.Models.GoodsClass

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center">Enter Goods Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="text-align:center"class="form-group">
                <label asp-for="DateOfDonation" class="control-label"></label>
                <input asp-for="DateOfDonation" class="form-control" />
                <span asp-validation-for="DateOfDonation" class="text-danger"></span>
            </div>
            <div style="text-align:center"class="form-group">
                <label asp-for="NumberOfItems" class="control-label"></label>
                <input asp-for="NumberOfItems" class="form-control" />
                <span asp-validation-for="NumberOfItems" class="text-danger"></span>
            </div>
            <div style="text-align:center"class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" onclick="otherCategory()">
                    <option value="Clothes">Clothes</option>
                    <option value="Non-Perishables">Non-Perishables</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div style="text-align:center"class="form-group">
                <label asp-for="AddNewCategory" class="control-label"></label>
                <input asp-for="AddNewCategory" class="form-control" disabled/>
                <span asp-validation-for="AddNewCategory" class="text-danger"></span>
            </div>
            <div style="text-align:center"class="form-group">
                <label asp-for="DescriptionOfItem" class="control-label"></label>
                <input asp-for="DescriptionOfItem" class="form-control" />
                <span asp-validation-for="DescriptionOfItem" class="text-danger"></span>
            </div>
            <div style="text-align:center"class="form-group">
                <label asp-for="Donor" class="control-label"></label>
                <input asp-for="Donor" class="form-control" />
                <span asp-validation-for="Donor" class="text-danger"></span>
            </div>
            <div style="text-align:center" class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
