@model DonationWebApp.Models.DisasterClass

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center;">Enter Disaster Details</h1>

<hr />
<div class="row">
    <div  style="margin-left:auto;margin-right:auto" class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="text-align:center"class="form-group">
                <label asp-for="DisasterName" class="control-label"></label>
                <input asp-for="DisasterName" class="form-control" />
                <span asp-validation-for="DisasterName" class="text-danger"></span>
            </div>
            <div style="text-align:center"class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div style="text-align:center"class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div style="text-align:center"class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div style="text-align:center"class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div style="text-align:center" class="form-group">
                <label asp-for="RequiredAidTypes" class="control-label"></label>
                <select asp-for="RequiredAidTypes" class="form-control">
                    <option value="Shelter">Shelter</option>
                    <option value="Food">Food</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Water">Water</option>
                    <option value="Medical Care">Medical Care</option>
                </select>   
                <span asp-validation-for="RequiredAidTypes" class="text-danger"></span>
            </div>
            <div style="text-align:center"class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index"class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
