@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:auto; margin-bottom:auto;"class="text-center">
    <h1 class="display-4">Do Something That Makes A Difference Today!</h1>
    <p>Be apart of the change that helps others in need.</p>
    <!--Two buttons-->
    <p>
        <a asp-controller="GoodsClasses" asp-action="Index" class="btn btn-primary">Donate Goods Today!</a>
        <a asp-controller="MoneyClasses" asp-action="Index" class="btn btn-primary">Donate Money Today!</a>
    </p>
</div>
