@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Disaster Relief Funds</h1>
    <p>where individuals are encouraged to donate monetary or relief goods to a number of disasters.</a>.</p>
</div>
